# Este arquivo serve como um exemplo de como o seu arquivo .env deve ser.
# Copie este arquivo para um novo arquivo chamado .env e preencha com suas chaves de API.
# O arquivo .env NUNCA deve ser enviado para o repositório Git.

CLOUDINARY_CLOUD_NAME="seu_cloud_name"
CLOUDINARY_API_KEY="sua_api_key"
CLOUDINARY_API_SECRET="seu_api_secret"
